In [10]:
import pandas as pd

# SIGNAUX DU 02-12

### Mis à part le fichier 'old' rien n'a été relancé

In [13]:
df1 = pd.read_csv('01_SIGNALS_2019-12-02.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('02_SIGNALS_2019-12-02.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 29  &  34  =  5

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price
29,2019-12-02,PPG,0,0,0,1,128.500000
30,2019-12-02,AAP,0,1,0,0,156.550003
31,2019-12-02,DISCA,0,0,0,1,32.740002
32,2019-12-02,CVX,0,1,0,0,116.800003
33,2019-12-02,AMZN,0,1,0,0,1781.599976

In [15]:
df1 = pd.read_csv('01_SIGNALS_2019-12-02.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('03_SIGNALS_2019-12-02.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 29  &  34  =  5

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price
29,2019-12-02,PPG,0,0,0,1,128.500000
30,2019-12-02,AAP,0,1,0,0,156.550003
31,2019-12-02,DISCA,0,0,0,1,32.740002
32,2019-12-02,CVX,0,1,0,0,116.800003
33,2019-12-02,AMZN,0,1,0,0,1781.599976

In [16]:
df1 = pd.read_csv('01_SIGNALS_2019-12-02.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('old_SIGNALS_2019-12-02.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 29  &  30  =  1

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price
29,2019-12-02,TMUS,1,0,0,1,77.639999

In [18]:
df1 = pd.read_csv('02_SIGNALS_2019-12-02.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('old_SIGNALS_2019-12-02.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 34  &  30  =  4

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price
30,2019-12-02,AAP,0,1,0,0,156.550003
31,2019-12-02,DISCA,0,0,0,1,32.740002
32,2019-12-02,CVX,0,1,0,0,116.800003
33,2019-12-02,AMZN,0,1,0,0,1781.599976

In [20]:
df1 = pd.read_csv('02_SIGNALS_2019-12-02.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('03_SIGNALS_2019-12-02.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 34  &  34  =  0

Empty DataFrame
Columns: [Date, Ticker, Open Long, Close Long, Open Short, Close Short, Close Price]
Index: []

# SIGNAUX DU 03-12

In [21]:
df1 = pd.read_csv('01_SIGNALS_2019-12-03.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('02_SIGNALS_2019-12-03.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 32  &  32  =  0

Empty DataFrame
Columns: [Date, Ticker, Open Long, Close Long, Open Short, Close Short, Close Price]
Index: []

In [22]:
df1 = pd.read_csv('01_SIGNALS_2019-12-03.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('03_SIGNALS_2019-12-03.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 32  &  32  =  0

Empty DataFrame
Columns: [Date, Ticker, Open Long, Close Long, Open Short, Close Short, Close Price]
Index: []

In [24]:
df1 = pd.read_csv('02_SIGNALS_2019-12-03.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('03_SIGNALS_2019-12-03.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 32  &  32  =  0

Empty DataFrame
Columns: [Date, Ticker, Open Long, Close Long, Open Short, Close Short, Close Price]
Index: []

In [23]:
df1 = pd.read_csv('02_SIGNALS_2019-12-03.csv')
df1 = df1.drop(['Unnamed: 0'],axis=1)
df2 = pd.read_csv('04_SIGNALS_2019-12-03.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 32  &  32  =  0

Empty DataFrame
Columns: [Date, Ticker, Open Long, Close Long, Open Short, Close Short, Close Price]
Index: []

# COMPARAISON AVEC LE SYSTEME NEW_BT

In [83]:
df1 = pd.read_csv('Signals_11_29.csv')
df1 = df1.drop(['Unnamed: 0','Open.S Price'],axis=1)
df1 = df1.sort_values('Ticker')
df1 = df1.drop_duplicates()
df1 = df1[['Date','Ticker','Open Long','Close Long','Open Short','Close Short','Close Price']]
df2 = pd.read_csv('SIGNALS_2019-11-29.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
df2 = df2.sort_values('Ticker')
df2 = df2.drop_duplicates()
df2 = df2[['Date','Ticker','Open Long','Close Long','Open Short','Close Short','Close Price']]
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]),len(pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 28  &  26  =  2 2

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price
26,2019-11-29,MMM,0,1,0,0,169.770004
27,2019-11-29,ORCL,0,1,1,0,56.139999

In [86]:
df1 = pd.read_csv('SIGNALS_2019-12-02.csv')
#df1 = df1.drop(['Unnamed: 0','Open.S Price'],axis=1)
df1 = df1.sort_values('Ticker')
df1 = df1.drop_duplicates()
df1 = df1[['Date','Ticker','Open Long','Close Long','Open Short','Close Short','Close Price']]
df2 = pd.read_csv('Signals_2019-12-02.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
df2 = df2.sort_values('Ticker')
df2 = df2.drop_duplicates()
df2 = df2[['Date','Ticker','Open Long','Close Long','Open Short','Close Short','Close Price']]
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]),len(pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 32  &  32  =  0 0

Empty DataFrame
Columns: [Date, Ticker, Open Long, Close Long, Open Short, Close Short, Close Price]
Index: []

In [87]:
df1 = pd.read_csv('Signals_12_03.csv')
df1 = df1.drop(['Unnamed: 0','Open.S Price'],axis=1)
df1 = df1.sort_values('Ticker')
df1 = df1.drop_duplicates()
df1 = df1[['Date','Ticker','Open Long','Close Long','Open Short','Close Short','Close Price']]
df2 = pd.read_csv('SIGNALS_2019-12-03.csv')
df2 = df2.drop(['Unnamed: 0'],axis=1)
df2 = df2.sort_values('Ticker')
df2 = df2.drop_duplicates()
df2 = df2[['Date','Ticker','Open Long','Close Long','Open Short','Close Short','Close Price']]
print('Longueur des df1 & df2 :', df1.shape[0],' & ',df2.shape[0],' = ',abs(df1.shape[0]-df2.shape[0]),len(pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]))
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

Longueur des df1 & df2 : 18  &  34  =  16 16

,Date,Ticker,Open Long,Close Long,Open Short,Close Short,Close Price
18,2019-12-03,ALK,1,0,0,1,66.610001
19,2019-12-03,DAL,0,1,1,0,55.619999
20,2019-12-03,PXD,0,1,1,0,123.489998
21,2019-12-03,NSC,0,1,1,0,186.210007
22,2019-12-03,WYNN,0,1,0,0,116.599998
23,2019-12-03,COG,1,0,0,1,15.710000
24,2019-12-03,CXO,0,1,1,0,71.070000
25,2019-12-03,EOG,1,0,0,1,68.779999
26,2019-12-03,CI,1,0,0,1,195.330002
27,2019-12-03,UPS,0,1,0,0,116.930000
28,2019-12-03,FAST,1,0,0,1,34.910000
29,2019-12-03,APA,1,0,0,1,18.379999
30,2019-12-03,CHRW,1,0,0,1,76.019997
31,2019-12-03,IPG,1,0,0,1,22.280001
32,2019-12-03,PPG,0,1,1,0,127.959999
33,2019-12-03,RCL,0,1,0,0,118.849998