In [ ]:
___author___ = 'LumberJack Jyss'

import pandas as pd
import datetime

df=pd.read_csv ('train_5UKooLv.csv', delimiter=',') #, low_memory=False)

In [33]:
temp = pd.DatetimeIndex(df['InvoiceDate'])
df['Invoice_Date'] = temp.date
df['Invoice_Time'] = temp.time
df['Invoice_weekday']=temp.weekday # Monday is 0
del df['InvoiceDate']

In [ ]:
for i in range(0,7):
	if df['Invoice_weekday']==0:

In [34]:
print(df.head())

   CustomerID  InvoiceNo  Quantity  UnitPrice Country StockCode Invoice_Date  \
0       27270      27270         7       2.55      PX   85123AY   2010-01-12
1       27270      27270         7       3.39      PX    71053R   2010-01-12
2       27270      27270         9       2.75      PX   84406BH   2010-01-12
3       27270      27270         7       3.39      PX   84029GV   2010-01-12
4       27270      27270         7       3.39      PX   84029EX   2010-01-12

  Invoice_Time  Invoice_weekday
0     08:26:00                1
1     08:26:00                1
2     08:26:00                1
3     08:26:00                1
4     08:26:00                1

In [35]:
df.to_csv('Cleaned_train_5UKooLv.csv')

In [36]:
print('head\n',df.head(5),'\n')

head
    CustomerID  InvoiceNo  Quantity  UnitPrice Country StockCode Invoice_Date  \
0       27270      27270         7       2.55      PX   85123AY   2010-01-12
1       27270      27270         7       3.39      PX    71053R   2010-01-12
2       27270      27270         9       2.75      PX   84406BH   2010-01-12
3       27270      27270         7       3.39      PX   84029GV   2010-01-12
4       27270      27270         7       3.39      PX   84029EX   2010-01-12

  Invoice_Time  Invoice_weekday
0     08:26:00                1
1     08:26:00                1
2     08:26:00                1
3     08:26:00                1
4     08:26:00                1

In [37]:
print('Info\n',df.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330575 entries, 0 to 330574
Data columns (total 9 columns):
CustomerID         330575 non-null int64
InvoiceNo          330575 non-null int64
Quantity           330575 non-null int64
UnitPrice          330575 non-null float64
Country            330575 non-null object
StockCode          330575 non-null object
Invoice_Date       330575 non-null object
Invoice_Time       330575 non-null object
Invoice_weekday    330575 non-null int64
dtypes: float64(1), int64(4), object(4)
memory usage: 22.7+ MB
Info
 None

In [38]:
for Column in df.head(0):
	print('\nLes 3 val min et max pour ',Column,' :\n')
	df_temp=df.sort_values(by=Column)
	print(df_temp[Column].head(3))
	print('\n')
	df_temp=df.sort_values(by=Column,ascending=False)
	print(df_temp[Column].head(3))
	print('\n')

Les 3 val min et max pour  CustomerID  :

231477    0
51550     0
51551     0
Name: CustomerID, dtype: int64


324266    580815
324258    580815
324263    580815
Name: CustomerID, dtype: int64



Les 3 val min et max pour  InvoiceNo  :

231477    0
51550     0
51551     0
Name: InvoiceNo, dtype: int64


324266    580815
324258    580815
324263    580815
Name: InvoiceNo, dtype: int64



Les 3 val min et max pour  Quantity  :

136434   -9600
136433   -9600
2850     -9360
Name: Quantity, dtype: int64


329485    97194
133513     4800
97717      3736
Name: Quantity, dtype: int64



Les 3 val min et max pour  UnitPrice  :

9214      0.0
290636    0.0
290635    0.0
Name: UnitPrice, dtype: float64


134747    649.5
3301      295.0
73387     295.0
Name: UnitPrice, dtype: float64



Les 3 val min et max pour  Country  :

231837    AJ
87098     AJ
87099     AJ
Name: Country, dtype: object


107685    ZU
253188    ZU
253190    ZU
Name: Country, dtype: object



Les 3 val min et max pour  StockCode  :

54724    10002F
20125    10002F
57241    10002F
Name: StockCode, dtype: object


14747    90214ZJ
21743    90214ZJ
66718    90214ZJ
Name: StockCode, dtype: object



Les 3 val min et max pour  Invoice_Date  :

0       2010-01-12
1268    2010-01-12
1267    2010-01-12
Name: Invoice_Date, dtype: object


237632    2011-12-10
238408    2011-12-10
238424    2011-12-10
Name: Invoice_Date, dtype: object



Les 3 val min et max pour  Invoice_Time  :

183944    06:10:00
183945    06:14:00
183946    06:20:00
Name: Invoice_Time, dtype: object


231659    20:38:00
231653    20:38:00
231654    20:38:00
Name: Invoice_Time, dtype: object



Les 3 val min et max pour  Invoice_weekday  :

330574    0
55252     0
55253     0
Name: Invoice_weekday, dtype: int64


250919    6
69383     6
69369     6
Name: Invoice_weekday, dtype: int64

In [9]:
print('Count\n',df.count(),'\n')

Count
 CustomerID         330575
InvoiceNo          330575
Quantity           330575
UnitPrice          330575
Country            330575
StockCode          330575
Invoice_Date       330575
Invoice_Time       330575
Invoice_weekday    330575
dtype: int64

In [10]:

print('Types\n',df.dtypes,'\n')

Types
 CustomerID           int64
InvoiceNo            int64
Quantity             int64
UnitPrice          float64
Country             object
StockCode           object
Invoice_Date        object
Invoice_Time        object
Invoice_weekday      int64
dtype: object

In [11]:
print('Nombre de NaN au total dans le dataframe : ',df.isnull().sum().sum())

Nombre de NaN au total dans le dataframe :  0

In [12]:
print('Describe\n',df.describe(),'\n')

Describe
           CustomerID      InvoiceNo       Quantity      UnitPrice  \
count  330575.000000  330575.000000  330575.000000  330575.000000
mean   249983.741714  249983.741714      11.691595       3.273499
std    149825.940375  149825.940375     178.447641       4.353445
min         0.000000       0.000000   -9600.000000       0.000000
25%    124569.000000  124569.000000       1.000000       1.250000
50%    244548.000000  244548.000000       3.000000       2.080000
75%    371826.000000  371826.000000      12.000000       4.130000
max    580815.000000  580815.000000   97194.000000     649.500000

       Invoice_weekday
count    330575.000000
mean          2.708705
std           1.945097
min           0.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           6.000000

In [23]:
CustomerIDlist=[]
InvoiceNolist=[]
Quantitylist=[]
UnitPricelist=[]
Countrylist=[]
StockCodelist=[]
Invoice_Datelist=[]
Invoice_Timelist=[]
Invoice_weekdaylist=[]
Invoice_isoweekdaylist=[]
CustomerIDlist=pd.value_counts(df['CustomerID'].values)
InvoiceNolist=pd.value_counts(df['InvoiceNo'].values)
Quantitylist=pd.value_counts(df['Quantity'].values)
UnitPricelist=pd.value_counts(df['UnitPrice'].values)
Countrylist=pd.value_counts(df['Country'].values)
StockCodelist=pd.value_counts(df['StockCode'].values)
Invoice_Datelist=pd.value_counts(df['Invoice_Date'].values)
Invoice_Timelist=pd.value_counts(df['Invoice_Time'].values)
Invoice_weekdaylist=pd.value_counts(df['Invoice_weekday'].values)

In [24]:
print(InvoiceNolist)

11790     1996
129969    1649
317277    1643
198198    1610
220878    1553
80019     1542
141759    1534
89109     1476
290007    1470
405486    1452
287307    1440
101799    1407
390906    1386
210888    1287
16380     1264
199098    1248
299097    1246
9990      1221
130968    1179
417276    1177
126369    1174
290907    1146
104499    1144
150048    1136
180018    1119
384516    1115
102699    1090
309987    1085
300897    1084
69129     1079
          ...
23769        6
71820        6
275328       6
80820        5
162729       5
122868       5
221967       4
461925       4
438255       3
471915       3
578025       3
148158       3
476226       3
219177       2
121968       2
119178       2
462726       2
251838       2
326376       2
25479        2
124578       2
151839       1
261828       1
474516       1
173529       1
367137       1
21969        1
375327       1
447255       1
120078       1
Length: 972, dtype: int64

In [25]:
print(Quantitylist)

 1        91218
 2        50377
 14       37181
 7        24623
 4        23410
 3        22690
 28       14687
 12       13724
 9         7870
 5         7118
 57        3734
 24        3163
 30        3106
 19        2552
 43        2318
-1         2275
 8         1787
 10        1269
 86        1174
 21        1110
 120       1092
 115       1091
-2          859
 48         696
 36         690
 172        670
 38         624
 13         586
 60         554
 18         491
          ...
-92           1
 422          1
 1190         1
-345          1
-87           1
 169          1
 3240         1
-342          1
 3736         1
-104          1
 97194        1
-1897         1
 391          1
 1672         1
 1161         1
 3720         1
-118          1
 2188         1
-112          1
-624          1
 912          1
 1680         1
-111          1
 146          1
-365          1
 1684         1
-1131         1
-618          1
 662          1
 1920         1
Length: 538, dtype: int64

In [26]:
print(UnitPricelist)

1.25     31365
1.65     23431
0.85     17594
2.95     17139
0.42     14681
4.95     11682
3.75     11494
2.10     10758
2.46     10525
2.08     10499
0.83     10346
4.13      9475
1.95      8073
1.45      8054
2.55      7873
1.63      7739
3.29      7247
0.39      5119
5.95      4984
0.65      4920
0.55      4690
4.25      4628
7.95      4452
5.79      4136
4.15      3855
9.95      3604
8.50      3514
8.29      2971
4.96      2791
0.29      2749
         ...
1.21         1
1.91         1
4.17         1
10.20        1
2.06         1
14.75        1
39.96        1
2.42         1
57.60        1
7.18         1
3.44         1
0.52         1
10.13        1
12.00        1
6.36         1
0.70         1
3.92         1
11.05        1
8.87         1
0.78         1
3.15         1
5.21         1
4.70         1
4.68         1
12.96        1
2.22         1
4.16         1
2.30         1
2.67         1
4.99         1
Length: 470, dtype: int64

In [27]:
print(Countrylist)

PX    302992
RA      5304
GJ      5134
BC      4639
IG      1645
CI      1419
ZU      1299
HW      1123
XW      1050
FM       737
OF       731
UA       610
JN       519
BU       453
YI       344
SK       272
FV       253
IL       249
RC       245
IE       239
WW       233
EN       202
IB       163
SE       111
SN       109
CD        88
SP        75
IP        67
FX        57
RO        45
BD        32
AR        32
SC        30
AJ        28
GI        19
TA        16
FL         9
HL         2
dtype: int64

In [28]:
print(StockCodelist)

85123AY    1399
22423U     1344
85099BJ    1320
47566Y     1049
20725N     1001
22720A      938
22197J      906
84879M      876
21212D      866
22383K      831
20727V      820
22457C      805
22469S      788
23203B      775
22386V      769
22086O      763
22960K      757
20728Z      750
22961C      747
23298Q      745
21931F      741
22382I      740
22411U      736
22666I      728
23209X      715
22384W      689
22699D      688
23206T      679
22727B      674
22993E      673
           ...
44242BG       1
84227P        1
84415AB       1
85126L        1
90011CM       1
22145D        1
85160aI       1
84660bS       1
37351X        1
46776fM       1
37509X        1
84016B        1
85179aY       1
22528N        1
90025DR       1
44091AE       1
16202EK       1
85092N        1
90176EQ       1
84856LH       1
21410W        1
21348Q        1
84977H        1
23628T        1
84984DN       1
71215M        1
16043M        1
84534bD       1
47570bK       1
84773Q        1
Length: 3810, dtype: int64

In [29]:
print(Invoice_Datelist)

2011-08-12    3619
2011-05-12    3596
2011-11-29    3197
2011-11-22    3000
2011-10-31    2885
2011-09-21    2622
2011-06-10    2510
2011-11-25    2443
2010-06-12    2416
2011-06-12    2414
2011-11-14    2394
2011-11-30    2370
2011-08-30    2299
2011-10-11    2293
2011-06-11    2254
2011-10-30    2214
2011-11-24    2155
2011-11-11    2132
2011-11-16    2108
2011-11-21    2090
2010-12-17    2072
2011-08-11    2025
2011-04-11    1928
2011-10-17    1927
2011-11-20    1921
2010-07-12    1911
2011-10-18    1903
2010-01-12    1891
2011-11-13    1880
2011-10-10    1870
              ...
2011-01-23     481
2011-06-27     479
2011-09-18     478
2011-10-04     475
2011-06-28     474
2011-02-13     470
2011-09-02     465
2011-10-02     460
2011-05-15     457
2011-07-15     453
2011-11-02     452
2011-06-26     442
2011-03-27     428
2011-02-18     416
2011-06-17     415
2011-02-27     413
2011-12-08     391
2011-10-07     386
2010-12-19     379
2011-01-30     369
2011-03-07     356
2011-03-04     351
2011-01-05     305
2010-12-22     275
2011-07-08     274
2011-08-14     263
2010-12-23     261
2011-03-13     223
2011-05-29     220
2011-06-02     215
Length: 305, dtype: int64

In [30]:
print(Invoice_Timelist)

14:41:00    2415
15:56:00    2291
15:27:00    1599
16:14:00    1470
16:30:00    1463
14:59:00    1462
13:25:00    1453
15:17:00    1428
14:29:00    1386
13:35:00    1366
15:18:00    1351
09:20:00    1337
14:32:00    1328
13:58:00    1274
15:22:00    1264
15:29:00    1241
13:16:00    1238
15:41:00    1237
15:52:00    1236
11:41:00    1228
15:43:00    1208
15:58:00    1204
15:19:00    1184
17:28:00    1183
14:40:00    1176
15:13:00    1165
11:30:00    1165
14:23:00    1152
11:36:00    1151
15:33:00    1143
            ...
06:22:00       3
19:38:00       3
18:12:00       3
06:28:00       3
20:07:00       3
19:26:00       3
06:30:00       3
18:35:00       3
18:36:00       3
06:38:00       2
06:33:00       2
18:37:00       2
18:03:00       2
18:26:00       2
07:58:00       2
18:32:00       1
06:36:00       1
19:43:00       1
06:21:00       1
19:29:00       1
06:31:00       1
20:28:00       1
19:06:00       1
06:14:00       1
06:20:00       1
20:11:00       1
06:25:00       1
20:18:00       1
07:46:00       1
06:10:00       1
Length: 742, dtype: int64

In [31]:
print(Invoice_weekdaylist)

1    60575
3    56146
0    50760
4    50095
2    47692
6    44118
5    21189
dtype: int64