In [1]:
___Author___='LumberJack Jyss'

In [2]:
print('LumberJack BRUTAL_60 PREPARATION\nLumberJack Jyss (c)')

LumberJack BRUTAL_60 PREPARATION
LumberJack Jyss (c)

In [3]:
print('Importation des librairies...')
import numpy as np
import pandas as pd
from yahoofinancials import YahooFinancials
import pandas_datareader as web
print('Librairies importées')

Importation des librairies...
Librairies importées

In [4]:
# PARAMETRES TEMPORELS INITIAUX
print('PARAMETRES TEMPORELS INITIAUX')
start = pd.to_datetime('2004-11-29')
end = pd.to_datetime('2019-03-01')
delta = round((end-start).days)
bloc1 = round(delta*0.8)
bloc2 = delta - bloc1
print("Période d'étude : ",delta)
print('Sur un découpage 80% - 20% de la période : ')
print('Bloc 1 : ',bloc1,' jours \nBloc 2 :',bloc2,' jours')
print('Note : On change de règles de calculs, car tous les jours ne sont pas ouvrés')

PARAMETRES TEMPORELS INITIAUX
Période d'étude :  5205
Sur un découpage 80% - 20% de la période :
Bloc 1 :  4164  jours
Bloc 2 : 1041  jours
Note : On change de règles de calculs, car tous les jours ne sont pas ouvrés

In [5]:
print('Scraping des données')
spy = web.DataReader('SPY','yahoo',start,end)
tlt = web.DataReader('TLT','yahoo',start,end)
vix = web.DataReader('^VIX','yahoo',start,end)
gld = web.DataReader('GLD','yahoo',start,end)
#eurostoxx = web.DataReader('^STOXX50E','yahoo',start,end)
#nikkei = web.DataReader('^N225','yahoo',start,end)
currencies = ['EURJPY=X', 'GBPJPY=X', 'USDJPY=X',]
daily_currency_prices = YahooFinancials(currencies).get_historical_price_data(start.strftime('%Y-%m-%d')\
                                                                              , end.strftime('%Y-%m-%d'), 'daily')
temp_df = pd.DataFrame.from_dict(daily_currency_prices.values()).T

Scraping des données

In [6]:
eurjpy = pd.DataFrame.from_dict(temp_df.iloc[4,0])
eurjpy = eurjpy.set_index('formatted_date')
eurjpy = eurjpy.drop(['date','volume'],axis=1)

gbpjpy = pd.DataFrame.from_dict(temp_df.iloc[4,1])
gbpjpy = gbpjpy.set_index('formatted_date')
gbpjpy = gbpjpy.drop(['date','volume'],axis=1)

usdjpy = pd.DataFrame.from_dict(temp_df.iloc[4,2])
usdjpy = usdjpy.set_index('formatted_date')
usdjpy = usdjpy.drop(['date','volume'],axis=1)

print('Scraping des données brutes effectué\n')

Scraping des données brutes effectué

In [7]:
# TRAITEMENT DES DONNEES BRUTES
spy = spy.drop(['Open','Adj Close','High','Low','Volume'],axis = 1)

vix = vix.drop(['Open','Adj Close','High','Low','Volume'],axis = 1)
vix.columns = ['vix']

gld = gld.drop(['Open','Adj Close','High','Low','Volume'],axis = 1)
gld.columns = ['gold']

eurjpy = eurjpy.drop(['open','high','low','adjclose'],axis = 1)
eurjpy.columns = ['eur/usd']

gbpjpy = gbpjpy.drop(['open','high','low','adjclose'],axis = 1)
gbpjpy.columns = ['gpb/usd']

usdjpy = usdjpy.drop(['open','high','low','adjclose'],axis = 1)
usdjpy.columns = ['jpy/usd']

print('DONNEES BRUTES TRAITEES')

DONNEES BRUTES TRAITEES

In [28]:
toto = pd.concat((eurjpy,gbpjpy,usdjpy),axis=1)
titi = pd.concat((tlt,vix,gld,spy),axis=1)
raw_dataset = pd.merge(toto, titi,left_index=True,right_index=True)

In [29]:
raw_dataset.head()

,eur/usd,gpb/usd,jpy/usd,High,Low,Open,Close,Volume,Adj Close,vix,gold,Close
2004-11-29,136.580002,194.910004,103.029999,87.599998,87.169998,87.470001,87.309998,1546400.0,53.078770,13.30,45.400002,117.809998
2004-11-30,136.830002,196.490005,102.900002,87.160004,86.629997,86.940002,86.940002,1754500.0,52.853806,13.24,45.119999,117.889999
2004-12-01,136.820007,198.139999,102.510002,86.750000,86.180000,86.699997,86.449997,2489800.0,52.771381,12.97,45.380001,119.230003
2004-12-02,136.690002,198.330002,103.099998,86.300003,86.010002,86.169998,86.099998,2881500.0,52.557777,12.98,44.950001,119.330002
2004-12-03,137.440002,198.369995,102.089996,87.660004,86.930000,87.150002,87.440002,2233700.0,53.375729,12.96,45.599998,119.250000

In [87]:
df.isnull().sum()

High          548
Low           548
Open          548
Close         548
Volume        548
Adj Close     548
High          548
Low           548
Open          548
Close         548
Volume        548
Adj Close     548
High          548
Low           548
Open          548
Close         548
Volume        548
Adj Close     548
adjclose     4142
close        4142
high         4142
low          4142
open         4142
adjclose     4142
close        4142
high         4142
low          4142
open         4142
adjclose     4142
close        4142
high         4142
low          4142
open         4142
High          548
Low           548
Open          548
spy           548
Volume        548
Adj Close     548
dtype: int64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4142 entries, 2004-11-18 to 2019-03-01
Data columns (total 39 columns):
High         3594 non-null float64
Low          3594 non-null float64
Open         3594 non-null float64
Close        3594 non-null float64
Volume       3594 non-null float64
Adj Close    3594 non-null float64
High         3594 non-null float64
Low          3594 non-null float64
Open         3594 non-null float64
Close        3594 non-null float64
Volume       3594 non-null float64
Adj Close    3594 non-null float64
High         3594 non-null float64
Low          3594 non-null float64
Open         3594 non-null float64
Close        3594 non-null float64
Volume       3594 non-null float64
Adj Close    3594 non-null float64
adjclose     0 non-null float64
close        0 non-null float64
high         0 non-null float64
low          0 non-null float64
open         0 non-null float64
adjclose     0 non-null float64
close        0 non-null float64
high         0 non-null float64
low          0 non-null float64
open         0 non-null float64
adjclose     0 non-null float64
close        0 non-null float64
high         0 non-null float64
low          0 non-null float64
open         0 non-null float64
High         3594 non-null float64
Low          3594 non-null float64
Open         3594 non-null float64
spy          3594 non-null float64
Volume       3594 non-null float64
Adj Close    3594 non-null float64
dtypes: float64(39)
memory usage: 1.3 MB

In [88]:
type(spy['spy'])

pandas.core.series.Series

In [17]:
#df = pd.DataFrame(index = eurjpy.index)
df = pd.concat((eurjpy,gbpjpy,usdjpy,gld,tlt,vix,spy),axis=1,sort=False)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4807 entries, 2000-03-28 to 2019-04-29
Data columns (total 39 columns):
Dernier_eurjpy    27 non-null object
Ouv_eurjpy        27 non-null object
High_eurjpy       27 non-null object
Low_eurjpy        27 non-null object
Var_eurjpy        27 non-null object
Dernier_gbpjpy    27 non-null object
Ouv_gbpjpy        27 non-null object
High_gbpjpy       27 non-null object
Low_gbpjpy        27 non-null object
Var_gbpjpy        27 non-null object
Open_usdjpy       27 non-null object
High_usdjpy       27 non-null object
Low_usdjpy        27 non-null object
Close_usdjpy      27 non-null object
Volume_usdjpyd    27 non-null object
Open_gld          3633 non-null float64
High_gld          3633 non-null float64
Low_gld           3633 non-null float64
Close_gld         3633 non-null float64
Adj Close_gld     3633 non-null float64
Volume_gld        3633 non-null float64
Open_tlt          21 non-null float64
High_tlt          21 non-null float64
Low_tlt           21 non-null float64
Close_tlt         21 non-null float64
Adj Close_tlt     21 non-null float64
Volume_tlt        21 non-null float64
Open_vix          4800 non-null float64
High_vix          4800 non-null float64
Low_vix           4800 non-null float64
Close_vix         4800 non-null float64
Adj Close_vix     4800 non-null float64
Volume_vix        4800 non-null float64
Open_spy          4778 non-null float64
High_spy          4778 non-null float64
Low_spy           4778 non-null float64
Close_spy         4778 non-null float64
Adj Close_spy     4778 non-null float64
Volume_spy        4778 non-null float64
dtypes: float64(24), object(15)
memory usage: 1.5+ MB

In [19]:
df.shape

(4807, 39)

In [20]:
df.head()

,Dernier_eurjpy,Ouv_eurjpy,High_eurjpy,Low_eurjpy,Var_eurjpy,Dernier_gbpjpy,Ouv_gbpjpy,High_gbpjpy,Low_gbpjpy,Var_gbpjpy,...,Low_vix,Close_vix,Adj Close_vix,Volume_vix,Open_spy,High_spy,Low_spy,Close_spy,Adj Close_spy,Volume_spy
Date,,,,,,,,,,,,,,,,,,,,,
2000-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.469999,24.860001,24.860001,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.790001,24.100000,24.100000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.790001,25.469999,25.469999,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.440001,24.110001,24.110001,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.030001,24.030001,24.030001,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
eurjpy.head()

           Dernier_eurjpy Ouv_eurjpy High_eurjpy Low_eurjpy Var_eurjpy
Date
2019-03-29         124,36     124,15      124,67     124,12      0,10%
2019-03-31         124,57     124,68      124,79     124,45      0,16%
2019-04-01         124,86     124,34      124,97     124,25      0,24%
2019-04-02         124,74     124,91      124,95     124,47     -0,10%
2019-04-03         125,25     124,71      125,47     124,60      0,41%

In [29]:
backtest_min.to_csv('backtest_min.csv')

In [30]:
# SCRAPING DES DONNES BRUTES HEURE
audusd = pd.read_csv('AUDUSD_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
audusd = audusd.set_index('Local time')
audusd.columns = ['Open_audusd','High_audusd','Low_audusd','Close_audusd','Volume_audusd']
eurusd = pd.read_csv('EURUSD_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
eurusd = eurusd.set_index('Local time')
eurusd.columns = ['Open_eurusd','High_eurusd','Low_eurusd','Close_eurusd','Volume_eurusd']
gbpusd = pd.read_csv('GBPUSD_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
gbpusd = gbpusd.set_index('Local time')
gbpusd.columns = ['Open_gbpusd','High_gbpusd','Low_gbpusd','Close_gbpusd','Volume_gbpusd']
nzdusd = pd.read_csv('NZDUSD_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
nzdusd = nzdusd.set_index('Local time')
nzdusd.columns = ['Open_nzdusd','High_nzdusd','Low_nzdusd','Close_nzdusd','Volume_nzdusd']
usdcad = pd.read_csv('USDCAD_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
usdcad = usdcad.set_index('Local time')
usdcad.columns = ['Open_usdcad','High_usdcad','Low_usdcad','Close_usdcad','Volume_usdcad']
usdchf = pd.read_csv('USDCHF_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
usdchf = usdchf.set_index('Local time')
usdchf.columns = ['Open_usdchf','High_usdchf','Low_usdchf','Close_usdchf','Volume_usdchf']
usdjpy = pd.read_csv('USDJPY_Candlestick_1_h_ASK_01.04.2004-13.04.2019.csv')
usdjpy = usdjpy.set_index('Local time')
usdjpy.columns = ['Open_usdjpy','High_usdjpy','Low_usdjpy','Close_usdjpy','Volume_usdjpy']

In [42]:
df_hour = pd.DataFrame(index = audusd.index)
df_hour = pd.concat((audusd,usdjpy,gbpusd,nzdusd,usdcad,usdchf,eurusd),axis=1,sort=False)

In [43]:
df_hour.head()

,Open_audusd,High_audusd,Low_audusd,Close_audusd,Volume_audusd,Open_usdjpy,High_usdjpy,Low_usdjpy,Close_usdjpy,Volume_usdjpy,...,Open_usdchf,High_usdchf,Low_usdchf,Close_usdchf,Volume_usdchf,Open_eurusd,High_eurusd,Low_eurusd,Close_eurusd,Volume_eurusd
Local time,,,,,,,,,,,,,,,,,,,,,
01.04.2004 00:00:00.000 GMT+0200,0.76641,0.76710,0.76488,0.76535,62950.6680,104.201,104.296,104.120,104.240,14168.5000,...,1.26575,1.26647,1.26508,1.26604,8935.7998,1.23146,1.23189,1.23043,1.23078,25020.6992
01.04.2004 01:00:00.000 GMT+0200,0.76529,0.76595,0.76420,0.76563,111419.3047,104.227,104.341,103.966,104.010,14141.5000,...,1.26604,1.26678,1.26530,1.26615,8603.7002,1.23092,1.23105,1.22995,1.23026,27288.0996
01.04.2004 02:00:00.000 GMT+0200,0.76531,0.76559,0.76369,0.76419,55551.5820,104.007,104.176,103.806,104.172,14865.9004,...,1.26612,1.26857,1.26567,1.26854,9852.2002,1.23010,1.23055,1.22736,1.22763,26442.9004
01.04.2004 03:00:00.000 GMT+0200,0.76410,0.76448,0.76240,0.76273,53136.6680,104.167,104.413,104.158,104.264,14227.2998,...,1.26838,1.26950,1.26762,1.26875,8871.0000,1.22728,1.22837,1.22645,1.22683,26449.3008
01.04.2004 04:00:00.000 GMT+0200,0.76273,0.76334,0.76102,0.76153,78062.3906,104.262,104.464,104.234,104.365,15210.2998,...,1.26896,1.26952,1.26798,1.26896,9745.7998,1.22690,1.22811,1.22642,1.22698,28437.3008

In [33]:
df_hour.to_csv('dataset_60.csv')