In [145]:
import pandas as pd
SYMBOL=[]
DATE=[]
QTY=[]
trade = pd.DataFrame()
final = pd.DataFrame()

In [146]:
anterior = pd.read_csv('ANTERIOR_BASE.csv')

In [147]:
ANTERIOR = anterior['Symbol'].to_list()

In [148]:
traded = pd.read_csv('QTY_TRAITE_NOVEMBER.csv')

In [149]:
traded = traded.sort_values('ReportDate')

In [150]:
DATES = list(traded['ReportDate'].unique())
DATES

[20191112,
 20191113,
 20191114,
 20191115,
 20191118,
 20191119,
 20191120,
 20191121,
 20191122,
 20191125,
 20191126,
 20191127]

In [151]:
TICKER = list(traded['Symbol'].unique())
len(TICKER)

87

In [152]:
for x in ANTERIOR:
    TICKER.remove(x)
len(TICKER)

70

In [153]:
for date in DATES:  
    for ticker in TICKER:
        tempo = traded[traded['ReportDate']==date] 
        tekko = tempo[tempo['Symbol']==ticker]
        SYMBOL.append(ticker)
        DATE.append(date)
        QTY.append(tekko['Quantity'].sum())

In [154]:
trade['Symbol'] = SYMBOL
trade['Date'] = DATE
trade['Quantity'] = QTY
trade

    Symbol      Date  Quantity
0       IT  20191112      -228
1      BLL  20191112       564
2      KSS  20191112      -641
3      PXD  20191112      -273
4      ATO  20191112       338
..     ...       ...       ...
835    VNO  20191127      -234
836    LUV  20191127         0
837   ZION  20191127         0
838    WAB  20191127         0
839    CCL  20191127      -331

[840 rows x 3 columns]

In [155]:
SYMBOL = []
DATE = []
OL = []
CL = []
OS = []
CS = []
poz = 0

for foo in trade['Symbol']:
    element = trade[(trade['Symbol']==foo)&(trade['Quantity']!=0)]
    for bar in range (0,len(element)):
    
        
        if poz == 0:
            poz = 1
            if element.iloc[bar]['Quantity'] > 0:
                OL.append(1)
                CL.append(0)
                OS.append(0)
                CS.append(0)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
            elif element.iloc[bar]['Quantity'] < 0:
                OL.append(0)
                CL.append(0)
                OS.append(1)
                CS.append(0)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
        elif poz == 1:
            poz = 0
            if element.iloc[bar]['Quantity'] > 0:
                OL.append(0)
                CL.append(0)
                OS.append(0)
                CS.append(1)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
            elif element.iloc[bar]['Quantity'] < 0:
                OL.append(0)
                CL.append(1)
                OS.append(0)
                CS.append(0)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
final['Date'] = DATE
final['Symbol'] = SYMBOL
final['Open Long'] = OL
final['Close Long'] = CL
final['Open Short'] = OS
final['Close Short'] = CS
final

          Date Symbol  Open Long  Close Long  Open Short  Close Short
0     20191112     IT          0           0           1            0
1     20191118     IT          0           0           0            1
2     20191112    BLL          1           0           0            0
3     20191118    BLL          0           1           0            0
4     20191112    KSS          0           0           1            0
...        ...    ...        ...         ...         ...          ...
1651  20191125    LUV          0           0           0            1
1652  20191125   ZION          1           0           0            0
1653  20191126   ZION          0           0           0            1
1654  20191126    WAB          1           0           0            0
1655  20191127    CCL          0           1           0            0

[1656 rows x 6 columns]

In [128]:
DATE = []
OL = []
CL = []
OS = []
CS = []
report = pd.DataFrame()
for j,date in enumerate(DATES):
    DATE.append(date)

pandas.core.frame.DataFrame

In [163]:
final[final['Date']==date]

          Date Symbol  Open Long  Close Long  Open Short  Close Short
132   20191127    VNO          0           0           1            0
137   20191127    CCL          0           1           0            0
270   20191127    VNO          0           0           1            0
275   20191127    CCL          0           1           0            0
408   20191127    VNO          0           0           1            0
413   20191127    CCL          0           1           0            0
546   20191127    VNO          0           0           1            0
551   20191127    CCL          0           1           0            0
684   20191127    VNO          0           0           1            0
689   20191127    CCL          0           1           0            0
822   20191127    VNO          0           0           1            0
827   20191127    CCL          0           1           0            0
960   20191127    VNO          0           0           1            0
965   20191127    CCL          0           1           0            0
1098  20191127    VNO          0           0           1            0
1103  20191127    CCL          0           1           0            0
1236  20191127    VNO          0           0           1            0
1241  20191127    CCL          0           1           0            0
1374  20191127    VNO          0           0           1            0
1379  20191127    CCL          0           1           0            0
1512  20191127    VNO          0           0           1            0
1517  20191127    CCL          0           1           0            0
1650  20191127    VNO          0           0           1            0
1655  20191127    CCL          0           1           0            0