In [266]:
import pandas as pd
SYMBOL=[]
DATE=[]
QTY=[]
trade = pd.DataFrame()
final = pd.DataFrame()

anterior = pd.read_csv('ANTERIOR_BASE.csv')

ANTERIOR = anterior['Symbol'].to_list()

traded = pd.read_csv('QTY_TRAITE_NOVEMBER.csv')

traded = traded.sort_values('ReportDate')

DATES = list(traded['ReportDate'].unique())
DATES

[20191112,
 20191113,
 20191114,
 20191115,
 20191118,
 20191119,
 20191120,
 20191121,
 20191122,
 20191125,
 20191126,
 20191127]

In [267]:
TICKER = list(traded['Symbol'].unique())
len(TICKER)

87

In [268]:
for x in ANTERIOR:
    TICKER.remove(x)
len(TICKER)

70

In [269]:
for date in DATES:  
    for ticker in TICKER:
        tempo = traded[traded['ReportDate']==date] 
        tekko = tempo[tempo['Symbol']==ticker]
        SYMBOL.append(ticker)
        DATE.append(date)
        QTY.append(tekko['Quantity'].sum())

In [270]:
trade['Symbol'] = SYMBOL
trade['Date'] = DATE
trade['Quantity'] = QTY
trade

    Symbol      Date  Quantity
0       IT  20191112      -228
1      BLL  20191112       564
2      KSS  20191112      -641
3      PXD  20191112      -273
4      ATO  20191112       338
..     ...       ...       ...
835    VNO  20191127      -234
836    LUV  20191127         0
837   ZION  20191127         0
838    WAB  20191127         0
839    CCL  20191127      -331

[840 rows x 3 columns]

In [275]:
SYMBOL = []
DATE = []
OL = []
CL = []
OS = []
CS = []


for foo in trade['Symbol']:
    poz = 0
    element = trade[(trade['Symbol']==foo)&(trade['Quantity']!=0)]
    for bar in range (0,len(element)):
        if poz == 0:
            poz = 1
            if element.iloc[bar]['Quantity'] > 0:
                OL.append(1)
                CL.append(0)
                OS.append(0)
                CS.append(0)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
            if element.iloc[bar]['Quantity'] < 0:
                OL.append(0)
                CL.append(0)
                OS.append(1)
                CS.append(0)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
        else:
            poz = 0
            if element.iloc[bar]['Quantity'] > 0:
                OL.append(0)
                CL.append(0)
                OS.append(0)
                CS.append(1)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
            if element.iloc[bar]['Quantity'] < 0:
                OL.append(0)
                CL.append(1)
                OS.append(0)
                CS.append(0)
                DATE.append(element.iloc[bar]['Date'])
                SYMBOL.append(element.iloc[bar]['Symbol'])
final['Date'] = DATE
final['Symbol'] = SYMBOL
final['Open Long'] = OL
final['Close Long'] = CL
final['Open Short'] = OS
final['Close Short'] = CS
final = final.drop_duplicates()

In [276]:
DATE = []
OL = []
CL = []
OS = []
CS = []
report = pd.DataFrame()
for date in DATES:
    DATE.append(date)
    OL.append(final[final['Date']==date]['Open Long'].sum())
    CL.append(final[final['Date']==date]['Close Long'].sum())
    OS.append(final[final['Date']==date]['Open Short'].sum())
    CS.append(final[final['Date']==date]['Close Short'].sum())
report['Date'] = DATE
report['Open Long'] = OL
report['Close Long'] = CL
report['Open Short'] = OS
report['Close Short'] = CS

In [277]:
report

        Date  Open Long  Close Long  Open Short  Close Short
0   20191112          5           0           9            0
1   20191113          9           0           4            1
2   20191114          9           0           7            1
3   20191115          3           3           5            1
4   20191118          0          23           0           22
5   20191119          9           0           9            0
6   20191120          1           0           1            0
7   20191121          2           0           1            0
8   20191122          2           2           1            0
9   20191125          2           0           0            0
10  20191126          2           0           0            2
11  20191127          0           1           1            0

In [278]:
report.to_csv('Report_26.csv')