In [1]:
from keras.models import model_from_yaml
import pandas as pd

Using TensorFlow backend.

In [2]:
df2 = pd.read_csv('df2.csv')
df2 = df2.drop(['Unnamed: 0'],axis = 1)
df2.head()

   Colonne 1  Colonn 2
0         -1         1
1          1         1
2         -1        -1
3          1         1
4          1        -1

In [3]:
yaml_file = open('save.yaml', 'r')
model_yaml = yaml_file.read()
yaml_file.close()
model = model_from_yaml(model_yaml)
# load weights into new model
model.load_weights("save.h5")
print("Loaded model from disk")

/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/engine/saving.py:473: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config = yaml.load(yaml_string)
WARNING: Logging before flag parsing goes to stderr.
W0802 10:31:31.095217 4631967168 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0802 10:31:31.109583 4631967168 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0802 10:31:31.153772 4631967168 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

W0802 10:31:31.154662 4631967168 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

W0802 10:31:31.155397 4631967168 deprecation_wrapper.py:119] From /Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Loaded model from disk

In [4]:
Xblob = df2.values

In [5]:
df2['PREDICT SA RACE'] = model.predict_classes(Xblob)

In [6]:
df2

    Colonne 1  Colonn 2  PREDICT SA RACE
0          -1         1                0
1           1         1                1
2          -1        -1                1
3           1         1                1
4           1        -1                0
5          -1         1                0
6          -1        -1                1
7           1         1                1
8           0        -1                0
9          -1         1                0
10          1        -1                0
11         -1         1                0
12          1         1                1
13          1        -1                0
14         -1        -1                1
15         -1         1                0
16          1         0                1
17          0         1                0
18          1         0                1
19          0         1                0
20          1        -1                0
21         -1         1                0
22          1        -1                0
23         -1        -1                1
24          1         1                1
25          0         1                0
26          1        -1                0
27         -1        -1                1
28          1         1                1
29         -1         1                0
30          1        -1                0