In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LaBase.csv')

/Users/YTsBaCh/Applications/anaconda3/envs/LumberJack/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(412746, 10)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Date,Symbol,High,Low,Open,Close,Volume,Adj Close
0,0,0,2016-08-08,A,47.669998,47.139999,47.570000,47.230000,1311700.0,45.835873
1,1,1,2016-08-09,A,47.630001,47.110001,47.110001,47.450001,1006200.0,46.049374
2,2,2,2016-08-10,A,47.580002,47.209999,47.509998,47.509998,754100.0,46.107609
3,3,3,2016-08-11,A,48.189999,47.470001,47.619999,48.130001,1377000.0,46.709305
4,4,4,2016-08-12,A,48.200001,47.700001,47.970001,48.139999,1538600.0,46.719021

In [6]:
df = df.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)

In [8]:
df.head()

,Date,Symbol,High,Low,Open,Close,Volume,Adj Close
0,2016-08-08,A,47.669998,47.139999,47.570000,47.230000,1311700.0,45.835873
1,2016-08-09,A,47.630001,47.110001,47.110001,47.450001,1006200.0,46.049374
2,2016-08-10,A,47.580002,47.209999,47.509998,47.509998,754100.0,46.107609
3,2016-08-11,A,48.189999,47.470001,47.619999,48.130001,1377000.0,46.709305
4,2016-08-12,A,48.200001,47.700001,47.970001,48.139999,1538600.0,46.719021

In [13]:
len(df[(df.Date=='2019-11-11')&(df.Symbol=='A')])

2

In [12]:
df=df.drop_duplicates()

In [14]:
df.tail()

,Date,Symbol,High,Low,Open,Close,Volume,Adj Close
412741,2019-11-13,ZBH,144.710007,143.070007,144.320007,144.369995,590100.0,144.369995
412742,2019-11-13,ZION,50.000000,49.366199,49.820000,49.625000,1682468.0,49.625000
412743,2019-11-13,ZION,50.000000,49.369999,49.820000,49.630001,1784600.0,49.630001
412744,2019-11-13,ZTS,117.739998,115.889999,116.989998,116.449997,2246258.0,116.449997
412745,2019-11-13,ZTS,117.739998,115.889999,116.989998,116.449997,2452600.0,116.449997

In [15]:
def clearall():
    all = [var for var in globals() if var[0] != "_"]
    for var in all:
        del globals()[var]
clearall()

In [16]:
print('Importing Librairies...')
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import pandas_datareader as web
from colorama import Fore, Back, Style
import time
import datetime as dt
import os
print('Librairies imported')
print('')

___Author___='LumberJack Jyss'
print('Global Optimized LumberJack Environment Motor 55\nLumberJack Jyss 5779(c)')
print(Fore.BLUE,'°0Oo_D.A.G._26_oO0°')
print(Fore.YELLOW,Back.BLUE,'LaBase Version v0.55',Style.RESET_ALL)

print('')

print('Sraping tickers')
constituents = pd.read_csv('New.csv')
print('shape : ',constituents.shape)
constituents = constituents.drop_duplicates(['Symbol'])
try:
    constituents = constituents.drop(['Unnamed: 0'],axis=1)
except:
    pass
print('shape : ',constituents.shape)    
print('Scrap -----> ok')

today = str(dt.date.today())[:5]+str(dt.date.today())[5:7]+str(dt.date.today())[7:10]
startday = str(dt.date.today()-dt.timedelta(1190))[:5]+str(dt.date.today()-dt.timedelta(1190))[5:7]+str(dt.date.today()-dt.timedelta(1190))[7:10]
yesterday = str(dt.date.today()-dt.timedelta(1))[:5]+str(dt.date.today()-dt.timedelta(1))[5:7]+str(dt.date.today()-dt.timedelta(1))[7:10]
stamp = input("Enter the date (YYYY-MM-DD): ")

start = startday
end = stamp
print('Date et heure actuelle : ',time.strftime("%d/%m/%Y %H:%M:%S", time.localtime()))
print('La date scrapée est : ', stamp)


try:
    LaBase = pd.read_csv('LaBase.csv')
    try:
        LaBase = LaBase.drop(['Unnamed: 0'],axis=1)
    except:
        pass
    
    print('\n Le dernier ticker de LaBase est :',LaBase.iloc[-1,0],'\n')
    if LaBase.iloc[-1,0] == stamp:
        print(Back.RED,Fore.BLACK,'\n ATTENTION! LA DATE EST DEJA DANS LA BASE!!! \n',Style.RESET_ALL)
        print('Nous procédons au nettoyage pour remplacement')
        LaBase = LaBase[LaBase.Date != stamp]
    
    LaBase = LaBase.drop_duplicates()
    print(Fore.YELLOW,'ON AJOUTE UNE LIGNE A LaBase',Style.RESET_ALL)

    tmps55=time.time()
    df = pd.DataFrame()
    BADTICKER = []
    for loop in range(0, len(constituents)):
    #for loop in range(0, 2):
        if loop == 1:
            print('\r',Fore.GREEN,' |==',Fore.BLUE,'O',Fore.RED,'==================|',end='',flush=True)
        if loop == 50:
            print('\r',Fore.GREEN,' |====',Fore.BLUE,'O',Fore.RED,'================|',end='',flush=True)
        if loop == 100:
            print('\r',Fore.GREEN,' |======',Fore.BLUE,'O',Fore.RED,'==============|',end='',flush=True)
        if loop == 150:
            print('\r',Fore.GREEN,' |========',Fore.BLUE,'O',Fore.RED,'============|',end='',flush=True)
        if loop == 200:
            print('\r',Fore.GREEN,' |==========',Fore.BLUE,'O',Fore.RED,'==========|',end='',flush=True)
        if loop == 250:
            print('\r',Fore.GREEN,' |============',Fore.BLUE,'O',Fore.RED,'========|',end='',flush=True)
        if loop == 300:
            print('\r',Fore.GREEN,' |==============',Fore.BLUE,'O',Fore.RED,'======|',end='',flush=True)
        if loop == 350:
            print('\r',Fore.GREEN,' |================',Fore.BLUE,'O',Fore.RED,'====|',end='',flush=True)
        if loop == 400:
            print('\r',Fore.GREEN,' |==================',Fore.BLUE,'O',Fore.RED,'==|',end='',flush=True)


        #try:
        ticker = (constituents.iloc[loop]['Symbol'])
        try:
            df = web.DataReader(ticker,'yahoo',end,end)
            df['Date'] = str(df.index[0])[:10]
        except:
            BADTICKER.append(ticker)
            pass
        df['Symbol'] = ticker
        df = df[['Date','Symbol','High','Low','Open','Close','Volume','Adj Close']]
        LaBase = pd.concat((LaBase,df),ignore_index=False)
    tmps22=round(time.time()-tmps55,2)
    print(Fore.BLUE,"Time for completing LaBase Generation = %f" %tmps22,'seconds \n',Style.RESET_ALL)
    print(LaBase.tail())

    print('Il y a ',len(BADTICKER),' mauvais tickers')
    print('Les voici')
    print(BADTICKER)

    #LaBase[LaBase.duplicated()].shape

    print('Base générée : ',LaBase.shape)
    print('Il y a ',LaBase[LaBase.duplicated()].shape,' Duplicats')
    LaBase = LaBase.drop_duplicates()
    print('Base déclonée : ',LaBase.shape)
    print('Dernière date relevée : ',LaBase.index[-1])
    LaBase.to_csv('LaBase.csv')   

except:
    print(Fore.YELLOW,'ON GENERE LaBase',Style.RESET_ALL)
    tmps55=time.time()
    LaBase = pd.DataFrame()
    df = pd.DataFrame()
    BADTICKER = []
    for loop in range(0, len(constituents)):
    #for loop in range(0, 2):
        if loop == 1:
            print('\r',Fore.GREEN,' |==',Fore.BLUE,'O',Fore.RED,'==================|',end='',flush=True)
        if loop == 50:
            print('\r',Fore.GREEN,' |====',Fore.BLUE,'O',Fore.RED,'================|',end='',flush=True)
        if loop == 100:
            print('\r',Fore.GREEN,' |======',Fore.BLUE,'O',Fore.RED,'==============|',end='',flush=True)
        if loop == 150:
            print('\r',Fore.GREEN,' |========',Fore.BLUE,'O',Fore.RED,'============|',end='',flush=True)
        if loop == 200:
            print('\r',Fore.GREEN,' |==========',Fore.BLUE,'O',Fore.RED,'==========|',end='',flush=True)
        if loop == 250:
            print('\r',Fore.GREEN,' |============',Fore.BLUE,'O',Fore.RED,'========|',end='',flush=True)
        if loop == 300:
            print('\r',Fore.GREEN,' |==============',Fore.BLUE,'O',Fore.RED,'======|',end='',flush=True)
        if loop == 350:
            print('\r',Fore.GREEN,' |================',Fore.BLUE,'O',Fore.RED,'====|',end='',flush=True)
        if loop == 400:
            print('\r',Fore.GREEN,' |==================',Fore.BLUE,'O',Fore.RED,'==|',end='',flush=True)


        #try:
        ticker = (constituents.iloc[loop]['Symbol'])
        try:
            df = web.DataReader(ticker,'yahoo',startday,end)
            df['Date'] = str(df.index[0])[:10]
        except:
            BADTICKER.append(ticker)
            continue
        df['Symbol'] = ticker
        df = df[['Symbol','High','Low','Open','Close','Volume','Adj Close']]
        LaBase = pd.concat((LaBase,df),ignore_index=False)
    tmps22=round(time.time()-tmps55,2)
    print(Fore.BLUE,"Time for completing LaBase Generation = %f" %tmps22,'seconds \n',Style.RESET_ALL)
    print(LaBase.tail())

    print('Il y a ',len(BADTICKER),' mauvais tickers')
    print('Les voici')
    print(BADTICKER)

    #LaBase[LaBase.duplicated()].shape

    print('Base générée : ',LaBase.shape)
    print('Il y a ',LaBase[LaBase.duplicated()].shape,' Duplicats')
    LaBase = LaBase.drop_duplicates()
    print('Base déclonée : ',LaBase.shape)
    ###########################################################
    ############## SI BESOIN DE RETIRER LA DATE DU JOUR #######
    ##
    #  LaBase = LaBase[LaBase.index != '2019-09-18 00:00:00'] #
    ##
    ###########################################################
    LaBase = LaBase.drop_duplicates()
    LaBase.to_csv('LaBase.csv')

Importing Librairies...
Librairies imported

Global Optimized LumberJack Environment Motor 55
LumberJack Jyss 5779(c)
 °0Oo_D.A.G._26_oO0°
  LaBase Version v0.55

Sraping tickers
shape :  (505, 4)
shape :  (505, 3)
Scrap -----> ok

Enter the date (YYYY-MM-DD):  2019-11-13

Date et heure actuelle :  15/11/2019 00:19:57
La date scrapée est :  2019-11-13
 ON GENERE LaBase
   |==================  O  ==| Time for completing LaBase Generation = 631.200000 seconds

           Symbol        High         Low        Open       Close     Volume  \
Date
2019-11-07    ZTS  126.000000  120.139999  125.400002  121.029999  3945400.0
2019-11-08    ZTS  121.750000  116.309998  120.820000  117.860001  3818900.0
2019-11-11    ZTS  118.150002  116.290001  117.290001  117.029999  2035200.0
2019-11-12    ZTS  118.050003  116.099998  116.629997  117.199997  2131400.0
2019-11-13    ZTS  117.739998  115.889999  116.989998  116.449997  2452600.0

             Adj Close
Date
2019-11-07  121.029999
2019-11-08  117.860001
2019-11-11  117.029999
2019-11-12  117.199997
2019-11-13  116.449997
Il y a  2  mauvais tickers
Les voici
['BF.B', 'BRK.B']
Base générée :  (409688, 7)
Il y a  (464, 7)  Duplicats
Base déclonée :  (409224, 7)